* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #600036;
}

.text1{
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}

.standard{
    background-color: white;
    
}